@model LoginVM
@{Layout = "_Layout";
    ViewBag.Title = "Logga in";
}

<div class="container-sm d-flex flex-column justify-content-between container-login">
    <div>
        <h2>Logga in</h2>
    </div>

    <div class="container">

        <div class="d-flex flex-column justify-content-between align-items-center">
            <form method="post">
                <div class="login-div">
                    <label class="form-label" asp-for="@Model.Email"></label>
                    <input autofocus class="form-control login-field" asp-for="@Model.Email" />
                    <span asp-validation-for="@Model.Email"></span>
                </div>
                <div class="login-div">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-control login-field" id="password" asp-for="Password" />
                    <div class="password-checkbox">
                        <input type="checkbox" onclick="myFunction()">Visa/Göm
                    </div>

                    <span asp-validation-for="Password"></span>
                </div>

                    <button class="btn form-button " type="submit" name="name">Logga in</button>

</form>
        </div>
    </div>
</div>

<script>

    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>