@model AboutVM

@{Layout = "_Layout";
    ViewBag.Title = "Om oss"; }

<header>
    <h2>Hur mås det?</h2>
</header>



<section>
    <div class="container-sm containerWithMaxWidth">


        <div>
            <p><i>Hur mås det?</i> föddes ur en diskussion om psykisk och fysisk hälsa under en intensiv period  i våra liv som och mynnade ut i det du har framför dig nu - vårt slutprojekt på AW Academy.</p>
        </div>
        <div>
            <p>
                WHO definierar hälsa som "Hälsa är ett tillstånd av fullständigt fysiskt, psykiskt och socialt välbefinnande och inte blott frånvaro av sjukdom och handikapp" vilket innebär att det inte bara är hur din kropp mår som inverkar på din hälsa, även sociala och fysiska miljöer har en stor inverkan på hälsan.
                När saker och ting blir intensiva är det tyvärr lätt att glömma, eller prioritera bort, att känna efter hur du faktiskt mår. Därför ville vi skapa en lättanvändlig app, som ska ta så lite tid som möjligt att använda och inte komma med några prestationskrav. Guilt-free blev vårt ledord genom projektet. Det finns en hel drös liknande appar men vi upplever dem alla som överväldigande, kluriga att använda eller prestationsinriktade, vilket medför en känsla av misslyckande när man missar en dag eller två. När man loggar sin dag ska det gå snabbt och enkelt, därför har vi valt ut 6 parametrar att reflektera över, dessa parametrar har ofta en relation till varandra och de påverkar alla i större mån på ditt dagliga mående och ditt mående över tid enligt WHO
            </p>
        </div>
        <div>
            <p><i>Hur mås det?</i> ger dig en lagom mix av självuppskattning av några faktorer som vanligen påverkar din totala hälsa, och en dagboksfunktion där du kan skriva ner dina tankar kring dagen och lägga till bilder.</p>
        </div>
    </div>
</section>


<section>
    <div class="container-sm containerWithMaxWidth">
        <h3>Hållbarhet</h3>
        <p>
            Ett av våra ledord är  “be good, do good”, och vi vill att vår app ska bidra till en hälsosammare värld.

            FN har tagit fram 17 hållbarhetsmål till 2030 (<a class="about-globala-link" href="https://www.globalamalen.se/om-globala-malen/mal-3-halsa-och-valbefinnande/" target="_blank">GlobalaMålen</a>). Mål 3: “God hälsa och välbefinnande” innebär att “Säkerställa hälsosamma liv och främja välbefinnande för alla i alla åldrar” och det är här vår app spelar in. Genom att reflektera över sitt mående och enkelt se måendet över tid kan man få ledtrådar om vad som påverkar ens hälsa och åtgärda om man kan, eller söka hjälp i ett tidigt skede för att sätta in förebyggande åtgärder innan det går för långt.

            I vår app har vi tagit i åtanke:

            <ul >
                <li class="list-item">
                    <em>Ekonomisk hållbarhet:</em> vår app ska hjälpa personer att få en bra översikt över sin hälsa så att man tidigt kan sätta in förebyggande åtgärder och på så sätt minska till exempel långtidssjukskrivningar vid utbrändhet, något som idag kostar samhället stora pengar.
                </li>
                <li class="list-item">
                    <em>Miljömässig hållbarhet:</em> vår app erbjuder ett enkelt sätt att registrera ditt mående direkt i din telefon. Det kräver inga fysiska resurser så som en dagbok och den går snabbt att använda och är enkel i sin design vilket innebär att energibehovet för att använda appen är lågt.
                </li>
                <li class="list-item">
                    <em> Social hållbarhet:</em> genom att förstå sina behov bättre och vad som påverkar ens hälsa kan användarna av vår app påverka sina arbetsplatser och sina omgivningar till att bli mer hållbara, både de fysiska miljöerna och de psykiska påfrestningarna.

                </li>
            </ul>



        </p>

    </div>

</section>
