@model IndexVM

@{Layout = "_Layout";
    ViewBag.Title = "Hur mås det?";
}
<link rel="stylesheet" href="~/CSS/OurStyles/TextCarousel.css" />


<header class="index-header d-flex flex-column justify-content-between">
        <div class="container-fluid index-heading">
            <h1>Hur mås det?</h1>
        </div>
        <div class="container-fluid index-heading">
            <h4>Sov mer. Stressa mindre. Ta hand om dig.</h4>
        </div>

    <div>

    <h5 class="index-subheading">"Guilt-free" -appen som låter dig logga och få översikt över ditt mående</h5>
    </div>

</header>

<section>
    <div class ="container-sm containerWithMaxWidth">
        <div class="content-slider">
            <div class="slider">
                <div class="mask">
                    <ul>
                        <li class="anim1">
                            <div class="quote">Fyll i utvalda parametrar som inverkar på ditt mående, lägg till en kommentar och en bild, klart!</div>
                            @*<div class="source">- Person</div>*@
                        </li>
                        <li class="anim2">
                            <div class="quote">Kika på detaljer för registrerade dagar, eller registrera en ny dag</div>
                            @*<div class="source">- Another person</div>*@
                        </li>
                        <li class="anim3">
                            <div class="quote">Få en snabb överblick över ditt mående över tid med anpassningsbara linjediagram</div>
                            @*<div class="source">- Animal</div>*@
                        </li>
                        <li class="anim4">
                            <div class="quote">Den enklaste, och snyggaste, hälsoappen jag använt!</div>
                            <div class="source">- Banarne</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>



