@model RangeInfoVM

@{Layout = "_Layout";
    ViewBag.Title = "Info om hälsoparametrar";
}


<header class="container-sm">
    <h2>Varför mår vi som vi gör?</h2>
</header>

<section>
    <div class="container-sm range-container">
        <div class="range-div">
            <h3>Humör</h3>
            <p>
                Hur var din sinnesstämning idag? Kände du dig på gott humör eller dåligt? Var ditt humör jämt eller gick i vågor? Det finns mycket som kan påverka ens humör, både inre omständigheter som till exempel tillräckligt med sömn, och yttre omständigheter som till exempel många motgångar/medgångar påverkar ens humör och hur hur mottaglig man är för humörsvängningar. Därför ger humöret en bra fingervisning på om allt står rätt till eller ej.
            </p>
        </div>
        <div class="range-div">

            <h3>Fysisk aktivitet</h3>
            <p>
                Våra kroppar är inte byggda för den mängd stillasittande många av dagens vuxna har varje dag.  Fysisk aktivitet innebär dock inte att du behöver tillbringa timmar i gymmet eller springa flera mil per dag, all form av rörelse kan påverka din hälsa positivt. Du blir piggare, starkare, minnet kan förbättras och det kan ha stor effekt på din sömnkvalité.
            </p>
            <ol>
                <li>
                    Sitt inte stilla för länge, ta frekventa kortare pauser. Passa på at ttitta ut genom ett fönster för att få lite dagsljus och låta ögonen vila på något i fjärran.
                </li>
                <li>
                    Se till att få minst 30 minuter måttlig aktivitet per dag, detta kan vara en rask promenad eller en tur i skogen (vad som räknas som måttlig intensitet är helt individuellt och förändras beroende på hur aktiv du är. En långsam promenad vara tillräckligt för att kännas måttligt ansträngande om du till exempel har varit fysiskt inaktiv länge, eller om du haft någon sjukdom som påverkat allmäntillståndet).
                </li>
                <li>
                    Aktivera dina muskler 2-3 gånger i veckan, detta betyder inte ett stenhårt pass i gymmet! Att gå i trappor är bra både för konditionen och muskelstyrkan i benen. För att dina rörelser ska ha riktigt god effekt behöver du bli varm och få upp pulsen och andhämtningen.
                </li>
            </ol>
        </div>
        <div class="range-div">
            <h3>Stress</h3>
            <p>
                Vi lever i ett samhälle där många av oss upplever stress i vår vardag, men det är viktigt att försöka förebygga stress tidigt. Långvarig stress kan få stora konsekvenser på din hälsa. Det finns tyvärr ingen one-size-fits-all-lösning på stress (men i ärlighetens namn, är inte one-size-fits-all generellt ett hittepå som inte funkar i verkligheten?), så det kan ta lite tid att hitta vad som funkar för just dig. Kom ihåg att vara snäll mot dig själv om det tar tid att hitta vad som funkar för dig, eller om du faller tillbaka i gamla mönster. Eller förresten, kom ihåg att alltid vara snäll mot dig själv. Ditt välmående är viktigt och förtjänar att tas på allvar.
            </p>
        </div>
        <div class="range-div">

            <h3>Sömn</h3>
            <p>
                Hur sov du igår? Hade du svårt att somna? Sov du natten igenom eller vaknade du under natten? Det är inte alltid antalet timmar du sover som avgör om du vaknar och känner dig utvilad, utan snarare kvaliteten. Många av oss letar efter receptet på vad som blir en riktig god natts sömn för just oss, här är några tips vi hoppas kan leda dig på rätt väg:
            </p>
            <ol>
                <li>
                    Slopa skärmtiden 60-90 minuter inna du går och lägger dig. Vi vet, att scrolla telefonen kan kännas som ett sätt att slappna av, men förutom att det kan skapa stress att matas med intryck från sociala medier så är själva ljuset från skärmen en bov i dramat. Din hjärna blir lurad att tro att det fortfarande är dagtid och inte alls närmar sig läggdags och utsöndrar därför inte hormon som melatonin, som hjälper dig att slappna av och påverkar din sömn positivt.
                </li>
                <li>
                    Hitta en lägg-rutin som funkar för just dig. Försök ägna dig åt lugnande aktiviteter innan du går och lägger dig, som att läsa en bok, ta ett bad eller meditera.
                </li>
                <li>
                    Försök få in rörelse i din vardag. Kanske en promenad, med ditt eget sällskap eller en vän eller kanske din favvo-podd. Om du gillar tyngre träning, undvik den 2-3 timmar innan du går och lägger dig för att ge kroppen tid att återfå normal kroppstemperatur, vilket är bra för din sömn.
                </li>
            </ol>
        </div>
        <div class="range-div">

            <h3>Psykiskt mående</h3>
            <p>
                Psykisk hälsa handlar om hur sinnet mår. I denna innefattar vi emotionell (vår förmåga att uppleva känslor som t ex glädje, sorg, vrede eller rädsla, samt att kunna uttrycka och hantera dessa känslor) och social (våra relationer till andra människor är vad som kännetecknar social hälsa).
            </p>
        </div>
       <div class="range-div" id="PhysicalHealth">

        <h3>Fysiskt mående</h3>
        <p>
            Fysisk hälsa handlar om hur kroppen mår. Fungerar den normalt och den är frisk har
            man en god fysisk hälsa. Att vårda sin kropp genom daglig fysisk aktivitet bidrar till många positiva fördelar. En ökad muskelstyrka, bättre kondition, ett starkare immunförsvar, starkt skelett och bättre rörlighet blir resultatet. De positiva sidoeffekterna såsom en bättre stresshantering och ökad koncentrationsförmåga är också viktiga delar i den fysiska hälsan
        </p>
        </div>
    </div>
</section>