@model int

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HTTP-fel @Model</title>
</head>
<body>
    <div class="container containerWithMaxWidth container-error">
        <h2>Ojdå!</h2>
        <h5>Här var det tomt.</h5><br />
        <h5>Ett HTTP-fel inträffade: @Model</h5>
    </div>
</body>
