<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hoppsan!</title>
</head>
<body>
    <div class="container containerWithMaxWidth container-error ">
        <h2>Ojdå!</h2>
        <h5>Ett server-fel inträffade</h5>
    </div>
</body>
</html>